[Desktop Entry]
GenericName=dossier
Icon=folder-documents
Name=Classe 10
Type=Link
#URL=file:///serveur01/eleve/Classe 10
URL=file:///serveur/enfants/Séries/Il était une fois... la Vie/
