[Desktop Entry]
GenericName=dossier
Icon=folder-documents
Name=Séries
Type=Link
#URL=file:///serveur01/eleve/Classe 10
URL=file:smb://serveur/enfants/Séries/Il était une fois... la Vie/
