[Desktop Entry]
GenericName=dossier
Icon=network-group
Name=Séries
Type=Link
#URL=file:///serveur01/eleve/Classe 10
URL[$e]=file:smb://serveur/enfants/Séries/Il était une fois... la Vie/
